@media screen and (min-width: 0px) and (max-width: 768px) {
  div {
      background-color: lightgreen;
  }
  .show-hide-small{
    display: inline-block !important;
  }
  .show-hide-large{
    display: none !important;
  }

}

@media screen and (min-width: 768px) and (max-width: 1500px) {
    .show-hide-small{
      display:none !important;
      background-color: purple;
    }
    .show-hide-large{
      display: inline-block !important;
    }
    
}
