<h2>Room #{{ room_num }}</h2>
<br>
  <div id="room-box" class="container" ng-repeat="room in rooms">
    <div ng-if="room.roomName == 'room' + room_num">
      <div id="smallToyBox" class="roomToyBox show-hide-small row">
        <img id="toyOne" class="toy" src="{{ room.image }}"></img>
        <img id="toyTwo" class="toy" src="{{ room.image }}"></img>
        <img id="toyThree" class="toy" src="{{ room.image }}"></img>
        <img id="toyFour" class="toy" src="{{ room.image }}"></img>
        <img id="toyFive" class="toy" src="{{ room.image }}"></img>
      </div>
      <div id="largeToyBox" class="roomToyBox show-hide-large">
        <img id="toyOne" class="toy" src="{{ room.image }}"></img>
        <img id="toyTwo" class="toy" src="{{ room.image }}"></img>
        <img id="toyThree" class="toy" src="{{ room.image }}"></img>
        <img id="toyFour" class="toy" src="{{ room.image }}"></img>
        <img id="toyFive" class="toy" src="{{ room.image }}"></img>
      </div>
      <span id="smallRoomImageBox" class="roomImageBox show-hide-small" ng-if="room.image">
        <img class="roomImage" src="{{ room.image }}"></img>
      </span>
      <span id="largeRoomImageBox" class="roomImageBox show-hide-large" ng-if="room.image">
        <img class="roomImage" src="{{ room.image }}"></img>
      </span>
      <div ng-mousemove="showSelectedText()" id="smallTextBox" class="roomTextBox show-hide-small" ng-if="room">
        <p id="roomLong">{{ room.long_desc }}</p>
      </div>
      <div ng-mousemove="showSelectedText()" id="largeTextBox" class="roomTextBox show-hide-large" ng-if="room">
        <p id="roomLong">{{ room.long_desc }}</p>
      </div>
      <div class="exitList show-hide-small col-xs-6 col-sm-6">
        <p>The obvious exits are:</p>
        {{room.north}}
        <span class="exits" ng-if="room.north=1">
          <span> North </span>
        </span>
        <span class="exits" ng-if="room.south">
          <span>South </span>
        </span>
        <span class="exits" ng-if="room.east">
          <span>East </span>
        </span>
        <span class="exits" ng-if="room.west">
          <span>West </span>
        </span>
      </div> <!-- End exitList small-->
      <div class="exitList show-hide-large">
        <p>The obvious exits are:</p>
        <span class="exits" ng-if="room.north">
          <span> North </span>
        </span>
        <span class="exits" ng-if="room.south">
          <span>South </span>
        </span>
        <span class="exits" ng-if="room.east">
          <span>East </span>
        </span>
        <span class="exits" ng-if="room.west">
          <span>West </span>
        </span>
      </div> <!-- End exitList large-->
    </div> <!-- End specific room iteration -->
  </div> <!--  End all room iteration -->

  <div id="itemAndInput">
    <div class="item-box-image">
      <img id="item-image" src="{{ thisItemImage }}"/>
    </div>

    <span id="item-image-desc">
      {{ thisItemDesc }}
    </span>

    <div ng-bind="selectedText" class="item-box-text">
    </div>
        <div class="playerControls">
      <p>{{ gameMessage }}</p>
      <form method="POST" ng-submit="inputFunc(text)">
        <p>Enter text and hit enter:</p>
        <input id="primaryInputBox" type="text" ng-model="text" name="text" autofocus/>
        <input type="submit" id="submit" value="Submit" />
      </form>
    </div>
  </div>
